<a href="https://colab.research.google.com/github/dymsson/machine-learning-basics/blob/main/1.%20Linear%20regression%20(sklearn).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [ ]:
# read dataframe from csv
df = pd.read_csv('Novosibirsk real estate data.csv')

,ID,Дата,ID продавца,ID покупателя,Количество комнат,"Площадь, кв. м.",Этаж,Наличие балкона,Тип ремонта,Тип дома,Год постройки,Наличие лифта,ID улицы,Сумма
0,1,08.05.2022,41,37,3,"66,6",1,Нет,Косметический ремонт,Кирпичный,1961,Нет,177,2 500 000
1,2,08.05.2022,77,93,3,"66,6",1,Нет,Косметический ремонт,Кирпичный,1961,Нет,535,2 550 000
2,3,08.05.2022,59,79,3,"71,2",5,Да,Евроремонт,Кирпичный,1958,Нет,83,3 600 000
3,4,08.05.2022,79,20,3,78,3,Да,Без ремонта,Панельный,2022,Нет,158,3 600 000
4,5,08.05.2022,85,41,1,"37,8",4,Да,Косметический ремонт,Панельный,2021,Да,132,2 850 000

In [ ]:
# change column type astype('int/float64') - ID продавца

# fill missing values str.replace - ID покупателя

# remap values in pandas column with a dict map({dictionary}) - Наличие балкона, Тип ремонта, Тип дома, Наличие лифта

# math operations on column - Год постройки

# rename columns - Год постройки
#df.columns = ['new_col1', 'new_col2', 'new_col3', 'new_col4']

# replace text in a string columns - Площадь кв. м., Сумма

# create new features using math operations

df.head()

,ID,Дата,ID продавца,ID покупателя,Количество комнат,"Площадь, кв. м.",Этаж,Наличие балкона,Тип ремонта,Тип дома,Возраст,Наличие лифта,ID улицы,Сумма,square
0,1,08.05.2022,41,37,3,66,1,0,3,5,62,0,177,2500000,22.000000
1,2,08.05.2022,77,93,3,66,1,0,3,5,62,0,535,2550000,22.000000
2,3,08.05.2022,59,79,3,71,5,1,5,5,65,0,83,3600000,23.666667
3,4,08.05.2022,79,20,3,78,3,1,4,3,1,0,158,3600000,26.000000
4,5,08.05.2022,85,41,1,37,4,1,3,3,2,1,132,2850000,37.000000

In [ ]:
# find the average price for apartment

# find max age of apartment on the 5th floor

# find min square of 2 or 3 room apartment

# find max price of more than 70 sq.m. apartment in houses built with Brick

# find the average age of apartment with designer renovation and price more or equal than 10 or less than 3 million

17.271356783919597

In [ ]:
print('Кирпичный', df[df['Тип дома'] == 'Кирпичный']['Сумма'].mean())
print('Смешанные', df[df['Тип дома'] == 'Смешанные']['Сумма'].mean())
print('Монолитный', df[df['Тип дома'] == 'Монолитный']['Сумма'].mean())
print('Блочный', df[df['Тип дома'] == 'Блочный']['Сумма'].mean())
print('Панельный', df[df['Тип дома'] == 'Панельный']['Сумма'].mean())
print('Деревянные', df[df['Тип дома'] == 'Деревянные']['Сумма'].mean())

In [ ]:
# convert pandas dataframe to numpy array
data = df.to_numpy()
# features
X
# target
Y

array([[77, 93, 3, 66, 1, 0, 3, 5, 62, 0, 535, 22.0],
       [59, 79, 3, 71, 5, 1, 5, 5, 65, 0, 83, 23.666666666666668],
       [79, 20, 3, 78, 3, 1, 4, 3, 1, 0, 158, 26.0],
       [85, 41, 1, 37, 4, 1, 3, 3, 2, 1, 132, 37.0]], dtype=object)

In [ ]:
# train linear regression model (fit(data, target))
lr
# get model performance (score(data, target))

# get model coefficients (weight vector) (coef_)

# predict house price (predict)

0.6791098939198179